In [3]:
import pandas as pd

In [4]:
pd.__version__

'2.2.2'

In [5]:
df1 = pd.DataFrame([[1,2,3],[10,20,30],[100,200,300]], columns=['1번', '2번', '3번'])
df1

     0    1    2
0    1    2    3
1   10   20   30
2  100  200  300